.jquery-selectbox {
	position: relative;
	height: 22px;
	margin-right: 10px;
	width: 38px !important;
	float: left;
	display: inline;
	font-size: 11px;
	color: #454545;
	line-height: 22px;
	text-align: left !important;
	border: #d6d8d8 solid 1px;
}
.jquery-selectbox .jquery-selectbox-currentItem {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	color: #454545;
	padding: 0 7px;
}

.jquery-selectbox .jquery-selectbox-list {
	display: none;
	position: absolute;
	top: 22px;
	padding: 2px;
	left: -1px;
	background: #fff;
	width: 34px !important;
	height: 65px !important;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	border: 1px solid #ccc;
}
.jquery-selectbox .jquery-selectbox-moreButton {
	position: absolute;
	top: 0px;
	right: 0px;
	float: right;
	background: url(../images/gobuy/custom-select-trigger.png) no-repeat left top;
	width: 16px;
	height: 22px;
	cursor: pointer;
}
.jquery-selectbox .jquery-selectbox-item {
	border-bottom: #ccc dotted 1px;
	padding: 0 5px;
	display: block;
}

.jquery-selectbox .listelementhover {
	background: #f1f1f1 !important;
	color: #333;
	cursor: pointer;
}

