<?xml version="1.0"?>
<config>
    <modules>
        <Gobuylah_C2c>
            <version>0.1.0</version>
        </Gobuylah_C2c>
    </modules>
    <frontend>
        <routers>
            <c2c>
                <use>standard</use>
                <args>
                    <module>Gobuylah_C2c</module>
                    <frontName>c2c</frontName>
                </args>
            </c2c>
        </routers>
        <layout>
            <updates>
                <c2c>
                    <file>c2c.xml</file>
                </c2c>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<c2c>
				<use>admin</use>
				<args>
					<module>Gobuylah_C2c</module>
					<frontName>c2c</frontName>
				</args>
			</c2c>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<c2c module="c2c">
				<title>C2c</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="c2c">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>c2c/adminhtml_c2c</action>
					</items>
					<items1 module="c2c">
						<title>Seller Product</title>
						<sort_order>1</sort_order>
						<action>c2c/adminhtml_seller</action>
					</items1>
				</children>
			</c2c>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gobuylah_C2c>
							<title>C2c Module</title>
							<sort_order>10</sort_order>
						</Gobuylah_C2c>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<c2c>
					<file>c2c.xml</file>
				</c2c>
			</updates>
		</layout>
		 
		<events>
		  <catalog_product_save_after>
			<observers>
			  <gobuylah_c2c>
				<type>singleton</type>
				<class>c2c/product_observer</class>
				<method>saveCreateByCategories</method>
			  </gobuylah_c2c>
			</observers>
		  </catalog_product_save_after>
		  <catalog_product_prepare_save>
			<observers>
			  <gobuylah_c2c>
				<type>singleton</type>
				<class>c2c/product_observer</class>
				<method>prepareSave</method>
			  </gobuylah_c2c>
			</observers>
		  </catalog_product_prepare_save>
		</events>
    </adminhtml>   
    <global>
        <models>
            <c2c>
                <class>Gobuylah_C2c_Model</class>
                <resourceModel>c2c_mysql4</resourceModel>
            </c2c>
			<finder>
                <class>Gobuylah_Seller_Model</class>
                <resourceModel>seller_mysql4</resourceModel>
            </finder>
            <c2c_mysql4>
                <class>Gobuylah_C2c_Model_Mysql4</class>
                <entities>
                    <c2c>
                        <table>c2c_product_finder</table>
                        <table>c2c_customer_slots</table>
                    </c2c>
                </entities>
            </c2c_mysql4>
        </models>
        <resources>
            <c2c_setup>
                <setup>
                    <module>Gobuylah_C2c</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </c2c_setup>
            <c2c_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </c2c_write>
            <c2c_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </c2c_read>
        </resources>
        <blocks>
            <c2c>
                <class>Gobuylah_C2c_Block</class>
            </c2c>
        </blocks>
        <helpers>
            <c2c>
                <class>Gobuylah_C2c_Helper</class>
            </c2c>
        </helpers>
    </global>
</config>